.main-left-bar {
  background-color: #3d3939;
  height: 100%;
  overflow: auto;
  padding: 8px;
  width: 100%;
}

.main-canvas {
  height: 100%;
  width:100%;
}

.bottom-Tab-panel {
  background: #262626;
  padding: 8px;
  height: 100%;
  overflow: auto;
}
.container {
  height: 100vh;
  position: relative;
  background-color: #434343;
}
