.left-fixed-area {
  position: fixed;
  width: 200px;
  background: #262626;
  padding: 8px;
}

.main-canvas {
  height: 100%;
  width:100%;
}

.bottom-Tab-panel {
  background: #262626;
  padding: 8px;
  height: 100%;
}
.container {
  height: 100vh;
  position: relative;
  background-color: #434343;
}
